* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #f6f6f6;
  font-family: "Courier New";
}

a {
  color: dodgerblue;
}
a:visited {
  color: red;
}
a:active {
  color: aquamarine;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

body {
  background: #2d2d2d;
}

section {
  padding: 15px;
}

.title {
  font-family: Arial;
  font-size: 24px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.introduction {
  text-indent: 20px;
  padding: 20px;
}
.introduction__header {
  text-align: left;
  font-weight: bold;
}
.introduction__descr {
  margin: 0;
}
.introduction__descr_ml-330 {
  margin-left: 330px;
}

.labs {
  margin-top: 20px;
}
.labs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.history__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}