* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Courier New";
}

a {
  color: dodgerblue;
}
a:visited {
  color: red;
}
a:active {
  color: aquamarine;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

body {
  background-color: antiquewhite;
}

section {
  padding: 15px;
}

.title {
  font-family: Arial;
  font-size: 24px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.aside {
  position: fixed;
  right: 150px;
  background: wheat;
  padding: 30px;
  border-radius: 16px;
}
.aside .nav__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.aside .nav__menu-item a {
  font-size: 14px;
  text-decoration: none;
}

.subjects__subwrapper {
  margin-bottom: 15px;
}
.subjects__subwrapper ul {
  list-style-type: square;
  padding-left: 22px;
}

.branches__wrapper {
  margin: 0 auto;
  width: 300px;
}