* {
    font-size: 12px;
    box-sizing: content-box;
    font-family: 'Courier New';
}

a {
    color: dodgerblue;

    &:visited {
        color: red;
    }

    &:active {
        color: aquamarine;
    }
}

.container {
    width: 1024px;
    margin: 0 auto;
}


body {
    background-color: antiquewhite;
}

section {
    padding: 15px;
}


@import "blocks/title";
@import "blocks/aside";
@import "blocks/subjects";
@import "blocks/branches";